<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h4>Add a stylist</h4>

    <form action='/tasks' method='post'>
        <input type="name">Stylist Name:<label>
            <input id="name" type="text" name="name" placeholder="Ever name...">
        <label for='bio'>About the Stylist:</label>
            <input id='bio' name='bio' type='text' placeholder="Enter stylist bio...">

        <button type='submit'>Add stylist</button>
    </form>

    <p><a href='/'>Home</a></p>
    </body>
</html>
