<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Clients</title>
    </head>
    <body>
        {% if clients is not empty %}
        {% for client in clients %}
           {{ client.getName }}
           <p><a href='/clients/{{ client.getId }}/edit'>Edit this client</a></p>
           <p><a href='/stylist/{{ client.getStylistId }}'>Check out your stylist</a></p>
        {% endfor %}
        {% else %}
       <p>There are no clients in the database.</p>
   {% endif %}
    </body>
</html>
