<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Pacifico|Quicksand" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h1>Hair Salon</h1>
                    </div>
                    <div class="page-header">
                        <h2>Step 1 for new clients: Enter your information</h2>
                        <form action="/add_client" method="post">
                            <label for="name">Client Name:</label>
                            <div class="form-margin">
                                <input id="name" class="form-control" type="text" name="name" placeholder="Enter your name...">
                            </div>
                            <label for="stylist">Pick a stylist</label>
                            <div class="form-margin">
                                <select id="stylist" class="form-control" name='stylist'>
                                    {% for stylist in stylists %}
                                    <option value="{{ stylist.getId }}">{{ stylist.getName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="btn-form">
                                <button class="btn" type="submit" name="button">Complete.</button>
                            </div>
                        </form>
                    </div>
                    <div class="page-header">
                        {% if stylists is not empty %}
                        <h3>Available Stylists:</h3>
                            {% for stylist in stylists %}
                            <a href="/stylists/{{stylist.getId()}}">{{stylist.getName()}}</a></li>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <h4>If you are already a client, check out these options!</h4>
                    <p><a href='/clients'>See client list</a></p>
                    <p><a href='/stylists'>See stylist list</a></p>
                    <p><a href='/add_stylist'>Add a stylist</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
